<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="icon" href="/img/pic2.jpg">
    <title>404</title>
</head>
<body>
    <div class="main-content">
       {{>header}}
       {{errorMessage}}
    </div>
    
    {{>footer}}
</body>
</html>